<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../seller/css/edite.css">
    <link rel="stylesheet" href="../assets/navbar.css">
</head>
<body>
 

        <form action="">
            <h2>Updat Product</h2>
            <table>name</table>
            <input type="text"><br>
            <table>description</table>
            <input type="text"><br>
            <table>price</table>
            <input type="text"><br>
            <table>currency</table>
            <input type="text"><br>
            <table>image</table>
            <input type="url">
            <div class="btn_update">
                <button>updat</button>
                <button>cancel</button>
            </div>
            
        </form>
    </div>
    
    <script></script>
</body>
</html>