<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/seller.css">
    <link rel="stylesheet" href="../assets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="../assets/images/online-logo.png" width="100px">
        </div>
        <div class="btn">
            <input type="text" placeholder="search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul>
            <li><a href="../../customer.html">Home</a> </li>
            <li><a href="#">product</a> </li>
            <li>Contact</li>
        </ul>
        <div class="login">
            <img src="" width="50px">
        </div>
    </div>
    <div class="border">
        <div class="contain">

            <div class="my_btn">
                <h2>Create My product</h2>
            </div>
            <form id="add_product">
                <div class="lists int">
                    <label for="fname">Name</label>
                    <input id="product_name" type="text" placeholder="Enter...">
                </div>
                <div class="lists">
                    <label for="fname">Description</label>
                    <input id="product_descrition" type="text" placeholder="Enter...">
                </div>
                <div class="lists int">
                    <label for="fname">Price</label>
                    <input id="product_price" type="text" placeholder="Enter your price...">
                </div>
                <div class="lists">
                    <label for="fname">currency</label>
                    <input id="product_currency" type="text" placeholder="Enter currency..">
                </div>
                <div class="lists int">
                    <label for="fname">Image</label>
                    <input type='url' id="product_image" placeholder="Enter URL">
                </div>
                <div class="lists btn_save">
                    <button id="btn_save" type="submit">Save</button>
                </div>

            </form>
        </div>
        <div class="container">

            <div class="my_table">
                <div class="my_btn">
                    <h2>

                        <a href="../../customer.html">view product</a>
                    </h2>
                </div>
                <div class="table_data"></div>
            </div>
        </div>
    </div>
    <h2 id="my_product"></h2>
    <script src="js/seller.js"></script>
</body>

</html>