<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/edite.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
     <div class="header">
        <div class="logo">
            <img src="/images/online-logo.png" width="100px">
        </div>
        <div class="btn">
            <input type="text" placeholder="search...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
        <ul>
            <li><a href="#">Home</a> </li>
            <li><a href="/views/seller.html">produce</a> </li>
            <li>Contact</li>
        </ul>
        <div class="login">
            <img src="/images/login.png" width="50px">
        </div>
    </div>
    <div class="border">
        <h3>View product</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Bag</td>
                <td>Red</td>
                <td>15$</td>
                <td>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </td>
            </tr>

        </table>
       
    </div>

    <script></script>
</body>
</html>