
.my_btn{
    text-align: center;
    margin-top: 50px;
}
.my_btn button:hover{
    background-color:#2196F3 ;
    border: none;
}
form{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #f9ebfa9e;
    width: 50%
}
.lists{
    display: flex;
    /* flex-direction: column; */
    margin: 10px;
    /* align-items: center; */
    justify-content: center;
}
.lists input{
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    margin-left: 20px;
    
}
.int input{
    margin-left: 51px;
}
.btn_save{
    /* justify-content: flex-end; */
    display: flex;
}
.btn_save button{
    padding: 5px;
    width: 15%;
    border-radius: 5px;
    
    background-color: #2196F3;
}
.btn_save button:hover{
    cursor: pointer;
}
.container{
    flex: 0.5;
}
.my_table{
    margin-left: 10px;
    text-align: center;
}
.my_btn a{
    color: black;
    cursor: pointer;
}
.my_btn a:hover{
    color:#2196F3 ;
}
table{
    /* margin-top: 30px; */
    margin:30px 5px 0px 5px;
    justify-content: center;
}
tr th{
    background-color: #2196F3;
}

th,td{
   
    /* width: 1%; */
    padding: 5px;
    /* margin: auto; */
    background-color: aliceblue;
    align-items: center;
}
table, th,td{
    border: 1px solid black;
    border-collapse: collapse;
    flex-direction: row; 
}
.my_image{
    width: 50%;
    cursor: pointer;
}